.rating-stars > a, .rating-stars-already > a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url("../images/star_off.png");
}
.rating-stars > a{
    cursor: pointer;
}
.rating-stars > a.star-on, .rating-stars-already > a.star-on{
    background: url("../images/star_on.png");
}
.rating-stars > a.star-temp{
    background: url("../images/star_off.png");
}
.rating-stars > a.star-temp-on{
    background: url("../images/star_on.png");
}
.show-stars {
    background: url("../images/rating_stars.png") repeat scroll 0 0 rgba(0, 0, 0, 0);
    float: left;
    height: 15px;
    margin-right: 5px;
    position: relative;
    top: 6px;
    width: 75px;
}
.stars-0{
    background-position: 0 0;
}
.stars-1{
    background-position: 0 -15px;
}
.stars-2{
    background-position: 0 -30px;
}
.stars-3{
    background-position: 0 -45px;
}
.stars-4{
    background-position: 0 -60px;
}
.stars-5{
    background-position: 0 -75px;
}